body{

    background-image: url(/dccl--javascript-music-player/bg.jpg);
}
img {
width: 320px;
margin-top: 30px;
margin-left: 20px;
border-radius: 20px;


}

#fondogris {

background-color: #121826a6;
width:360px;
height: 540px;
margin-left: 35%;
margin-right: 35%;
margin-top: 10%;
margin-bottom: 20px;
border-radius: 20px;
}

#title {
text-align: center;
font-family: 'Inter', sans-serif;
color: aliceblue;
font-size: 16px;
margin-top: 10px;
}

#author {
text-align: center;
font-family: 'Inter', sans-serif;
color: rgb(129, 129, 129);
font-size: 12px;
font-weight: 200;
margin-top: -20px;
}

#iconos {
margin-top: 60px;
margin-left: 100px;
width: 42px;
height: 42px;
}

#iconoavanzar {
margin-left: 230px;
width: 42px;
height: 42px;
top: -75px;
position: relative;
z-index: 2; 
}


#barprogress {
-webkit-appearance: none;
display: flex;
position: relative;
height: 5px;
width: 310px;
margin-left: 20px;
border-radius: 50px;
margin-top: -40px !important;
right: 150px;
appearance: none;
background: linear-gradient(to right, #E5E7EB 0%, #E5E7EB 100%);
}

#barprogress::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
background: transparent;
width: 5px;
height: 5px;
border-radius: 50%;
position: relative;
z-index: 2;
}




#fondo {
position: relative;
display: flex;
top: -155px;
margin-left: 160px;
width: 55px;
height: 55px;
background-color: #C93B76;
border-radius: 50px;
margin-top: 20px !important;
z-index: 1;
}


#iconodeplay  {
position: absolute;
top: 573px;
left: 603px;
width: 40px;
height: 40px;
z-index: 2;

}

#inicio {
font-family: 'Inter', sans-serif;
color: rgb(129, 129, 129);
font-size: 12px;
font-weight: 200;
margin-top: -20px;
margin-left: 20px;
top: 20px
}

#final {


font-family: 'Inter', sans-serif;
color: rgb(129, 129, 129);
font-size: 12px;
font-weight: 200;
margin-top: -28px;
margin-left: 310px;
}




.oculta {
display: none;
}

#pausa {
position: absolute;
top: 583px;
left: 613px;
width: 20px;
height: 20px;
z-index: 2;
}





