
    body{

        background-image: url(/dccl--javascript-music-player/);
    }
img {
    width: 320px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 20px;
    
    
}

#fondogris {

    background-color: #212936;
    width:360px;
    height: 540px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 20px;

}

#title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: aliceblue;
    font-size: 16px;
    margin-top: 10px;
}

#author {
text-align: center;
    font-family: 'Inter', sans-serif;
    color: rgb(129, 129, 129);
    font-size: 12px;
    font-weight: 200;
    margin-top: -20px;
}

#iconos {
    margin-top: 60px;
margin-left: 100px;
    width: 32px;
    height: 32px;
}

#iconos2 {
    position: relative;
    top: -67px;
margin-left: 230px;
    width: 32px;
    height: 32px;
}





#iconos4 {
    color: #E5E7EB;
    position: relative;
    top: -137px;
margin-left: 160px;
    width: 50px;
    height: 50px;
    background-color: #C93B76;
    border-radius: 50px;
    
}





